rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /visitors/{visitorId} {
      allow read: if true;  // Adjust based on your security needs
      allow write: if true; // Adjust based on your security needs
    }
    
    match /visitorLogs/{logId} {
      allow read: if true;
      allow write: if true;
    }
  }
} 